body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcyan;

}
.h1{
    padding: 20px;
}

.home{
    list-style: circle;
    width: 3000px;
    height: 1500px;
    margin: 50px;
    outline: solid 1px black;
    
}
.ul{
    width: 100px;
    height: 100px ;
}
.ul li{
    padding: 40px;
    
}

a{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

img{
    padding: 20px;
    width: 300px;
}