body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcyan;
padding: 30px;
}
.h1{
    padding: 20px;
}

.home{
    list-style: circle;
    width: 1000px;
    height: 1500px;
    
    
}
.ul{
    width: 100px;
    height: 100px ;
}
.ul li{
    padding: 40px;
    
}

a{
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

img{
    padding: 20px;
    width: 300px;
}

.ingredients{
    padding-left: 50px;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
}

.directions{
    padding-top: 15px;
    padding-left: 50px;
    
}
h4{
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 16px;
}